nvim/.config/nvim/plugin/


hjson
jsonschema
milc-color
pygmentize
python-argcomplete-check-easy-install-script
python-argcomplete-tcsh
register-python-argcomplete
activate-global-python-argcomplete
qmk
